.main{
    text-align: center;
    background-color: rgba(248, 248, 248, 0.575);
    padding: auto;
    margin: auto;
    height: 100%;
    border: 1px solid black;
    width: 78%;
    position: fixed;
    top: 25px;
}
.popup{
    height: 400px;
    width: 50%;
    background-color: white;
    position: fixed;
    top: 25%;
    right: 25%;
}
.popup-header{
    display: flex;
    justify-content: space-between;
    padding: 0 30px 0 15px;
    border-bottom: 2px solid black;
}
.close{
    margin-top: 25px;
    color: white;
    cursor: pointer;

}